<div class="carlyle-nda-label">
	<h1>{{ label }}</h1>
</div>
<div class="carlyle-nda-sub-heading">
	<h3>{{ nda_sub_heading }}</h3>
</div>
<div class="carlyle-nda-body">
	<p>{{ nda_body }}</p>
</div>
<div class="carlyle-nda-agree">
	<a class="use-ajax accept-nda-agreement" style="display:none;" data-dialog-options="{&quot;width&quot;:400, &quot;dialogClass&quot;: &quot;modal--nda_carlyle&quot;}" data-dialog-type="modal" href="/admin/config/clickthrough/NdaAgreementForm">
		ACCEPT
	</a>
</div>

