<div class="carlyle-request-title">
  <h1>Request Access</h1>
</div>
<div class="carlyle-request-sub-heading">
  <h3>PORTFOLIO COMPANY RESOURCE PORTAL</h3>
</div>
<div class="carlyle-request-form">
  {{ carlyle_register }}
</div>
<div class="carlyle-login">
  Already have access?
  <a href="{{ url('carlyle.login') }}">
    {{ "Login Now"|t }}
  </a>
</div>
